<video id="channel-player" class="video-js vjs-fullscreen"></video>

<div class="channel-content">
	<div class="channel-infos">
		<div class="channel-icon" style="background-image:url('http://lorempixel.com/100/100/')"></div>
		<p class="channel-name">{{channel.name}}</p>
		<p class="channel-state">EN DIRECT</p>
	</div>
	<ul class="channel-chat-container">
		<li class="channel-message" ng-repeat="message in socketManager.messages">
			<div class="avatar" style="background-image:url('{{message.user.avatar_url}}')" title="{{message.user.nickname}}"></div>
			<p>{{message.message}}</p>
		</li>
	</ul>
	<form class="channel-chat-input-container" ng-show="chatInputActive" ng-submit="socketManager.chat.emit.message(chatInputMessage);">
		<input class="channel-chat-input" type="text" name="text" placeholder="Type something..." ng-model="chatInputMessage" autocomplete="off">
	</form>
</div>