<video id="room-player" class="video-js" autoplay preload="auto"
  poster="http://lorempixel.com/1200/800/" data-setup="{}">
    <source src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_20mb.mp4" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>

<div class="room-content">
	<div class="room-infos">
		<div class="room-icon" style="background-image:url('http://lorempixel.com/100/100/')"></div>
		<p class="room-name">Lorem ipsum</p>
		<p class="room-state">EN DIRECT</p>
	</div>
	<ul class="room-chat-container">
		<li class="room-message">
			<div class="avatar" style="background-image:url('http://lorempixel.com/100/100/')"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices non neque eu imperdiet.</p>
		</li>
	</ul>
</div>