<div id="studio" style="margin-top:50px;">
	<div class="row">
		<div class="col-md-2 btn-group-vertical">
			  <a ui-sref="studio.files" class="btn btn-default">Fichiers</a>
			  <a ui-sref="studio.live" class="btn btn-default">Live</a>
			  <a ui-sref="studio.settings" class="btn btn-default">Parametres</a>
		</div>
		<div class="col-md-6" ui-view></div>
		<div class="col-md-4">
			<div class="col-md-12">
				<video id="studio-player" class="video-js"></video>
			</div>
			<div class="col-md-12">
				<ul class="studio-chat-container">
					<li class="studio-message" ng-repeat="message in socketManager.messages">
						<img class="avatar" ng-src="img/avatars/{{message.user.id}}.jpg" title="{{message.user.nickname}}">
						<p>{{message.message}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>